mixin cart-product-counter(quanity, options = {})
  .cart-product-counter&attributes(attributes)
    input(
      type="number",
      min="0",
      max="99",
      step="1",
      value=quanity,
      name=options.id,
    )
    button.cart-product-counter__quantity-btn.cart-product-counter__quantity-btn--decrement(
      type="button",
      aria-label="Уменьшить",
      tabindex="-1"
    )
    button.cart-product-counter__quantity-btn.cart-product-counter__quantity-btn--increment(
      type="button",
      aria-label="Увеличить",
      tabindex="-1"
    )
