mixin produtct-card(data={})
  article.produtct-card(data-price=data.price)
    a.produtct-card__link(href=data.href)
    .produtct-card__cover
      +img(
        "content",
        data.cover.file,
        data.cover.type,
        data.cover.width,
        data.cover.height,
        data.cover.alt
      ).produtct-card__img
    .produtct-card__col.produtct-card__col--center
      h3.produtct-card__title=data.title
      p.produtct-card__desc!=data.desc
      +cart-product-counter(data.value, {id: `cart-${data.id}-quantity`}).produtct-card__counter
    .produtct-card__col.produtct-card__col--right
      p.h3.produtct-card__price #[output 0] руб.
      a.txt-sm.link.produtct-card__del-link(href="#") Удалить

